extends layout
include mixins/movie_box.pug
include mixins/worst_movie_icon.pug
include mixins/best_movie_icon.pug

block styles
  link(rel="stylesheet" href="/stylesheets/style.css")

block content
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="#") &#127909; Fantasy Movie League
    div.team-type.form-inline
      label Team: &nbsp;
        select.form-control#selected-team(onchange=`changeTeam(event, '${selectedSeason.slug}');`)
          each team in teams
            option(value= team.id selected= team.id === selectedTeam.slug)= team.name
  div.main: div.row
    div.col-sm-3: div.container: div.row
      table
        thead
          th Rank
          th Name
          th % Used
          th $/Share
          th Total
        tbody
          each player in standings
            tr
              td: span= player.rank
              td 
                span: a(href=`/players/${player.id}?team=${selectedTeam.id}`)= player.name
                if (player.bonus1)
                  +best_movie_icon()
                if (player.bonus2)
                  +worst_movie_icon()
              td(style={'text-align':'right'}): span= player.sharesUsed
              td(style={'text-align':'right'}): span= player.perShareDisp
              td(style={'text-align':'right'}): span= player.totalDisp
    div.col-sm-9: div.container: div.row
      each movie in earnings
        +movie_box(movie)
block scripts
  script(src='/javascripts/index.js')