extends layout

block content
  table
    thead
      th Rank
      th Name
      th Total
    tbody
      each player in players
        tr
          td= player.rank
          td= player.name
          td= player.totalDisp