extends layout

block content
  table
    thead
      th Rank
      th Name
      th Total
    tbody
      each player in players
        tr
          td: span= player.rank
          td 
            span= player.name
              if (player.bonus1)
                sup 1
              if (player.bonus2)
                sup 2
          td: span= player.totalDisp