extends layout
include mixins/new_movie_box.pug
include mixins/new_bonus_box.pug

block content
  h1= season.pageTitle
  h2 
    | Deadline: 
    span#deadline
    |  | 
    a(target='_blank', href='https://www.github.com/snickroger/FantasyMovieLeague') View Rules
  form(action="/new", method="post")
    div
      label(for="whoareyou") Your Name: 
      input#whoareyou(required, type="text", name="whoareyou", placeholder="First & Last Name")
    div
      label(for="email") Your Email:
      input#email(type="email", name="email")
      small (optional) Enter your email address for a copy of your submissions.
    div(style={width:'50%', float:'left'})
      //-meter(value=100, max=100, min=0, style:{width:'100%'})
      div#trailers!=season.newHeaderContent
    div(style={width:'50%', float:'left'})
      each movie in season.movies
        +new_movie_box(movie)
        
      +new_bonus_box(1, bonusAmount, season.movies)
      +new_bonus_box(2, bonusAmount, season.movies)
    div
      input(type="submit", value="Submit")
  script=`var seasonStart = '${season.movies[0].releaseDate.setYear(2018)}';`
  script(src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js", integrity="sha256-SECU2CXX/L0UAxX9pvFJ6cs1qiGsPEFDmVSGndEJRsE=", crossorigin="anonymous")
  script(src='/javascripts/new.js')